<p><i class="fa fa-credit-card fa-lg fa-fw"></i> <a href="https://www.amazon.com/s/ref=dp_byline_sr_book_1?ie=UTF8&text=Jan+McCanless&search-alias=books&field-author=Jan+McCanless&sort=relevancerank" target="_blank">Amazon</a></p>
<p><i class="fa fa-credit-card fa-lg fa-fw"></i> <a href="http://www.barnesandnoble.com/w/who-killed-the-weatherman-jan-mccanless/1121684905?ean=9781508820796" target="_blank">Barnes & Noble</a></p>
<p><i class="fa fa-credit-card fa-lg fa-fw"></i> <a href="http://www.fictiondb.com/author/janet-mccanless~153736.htm" target="_blank">FictionDb</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">janmccanless@aol.com</a></p>
<nav class="hidden-print hidden-xs" role="navigation">
        <div>
          <button type="button" class="btn btn-small" data-toggle="modal" data-target="#who">
             Awards&#8201</button>
          </button>
          <div class="modal fade" id="who" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="/images/who.jpg" class="img-rounded" width="400" height="332">
                  <img src="/images/MVine-1.jpg" class="img-rounded" width="400" height="332">
                  <img src="/images/award2.jpeg" class="img-rounded" width="400" height="332">
                  <img src="/images/award3.jpeg" class="img-rounded" width="400" height="332">
                  <img src="/images/WhoAward.jpg" class="img-rounded" width="400" height="332">
                  <img src="/images/Top100.jpg" class="img-rounded" width="400" height="332">
                  <p>Jan has been approved as a subject of biographical record in Who's Who in America, she has been listed on Top Professionals as a Top Artist and she is listed in the Top 100 Business Leaders and Professionals Registry. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <p></p>
<nav class="hidden-print hidden-xs" role="navigation">
        <div>
          <button type="button" class="btn btn-small" data-toggle="modal" data-target="#saveAsPdf">
            Save as PDF
          </button>
          <div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{ "/images/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
                  <p>Warning: Currently, ResumeCards works the best on Chrome.<br>You need to adjust the CSS for Firefox/Safari.</p>
                </div>
                <div class="modal-footer">
                  <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
